# Python
__pycache__/
*.py[cod]
*$py.class
*.spec

# PyInstaller build artifacts
build/

# Runtime logs & user configs
*.log
capcut_automation.log
config.json

# Archived builds
archive/builds/
Buildss/
